<div class="card shadow border-0 mt-1">
    <div class="card-header bg-secondary bg-gradient ms-0 py-1">
        <div class="row align-items-center">
            <div class="col-8 text-center">
                <h3 class="text-white py-1">Ejecutivos de Negocio</h3>
            </div>
            <div class="col-4 text-end">
                <a asp-controller="BusinessExecutive" asp-action="Upsert" class="btn btn-info"
                   data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Nuevo Ejecutivo">
                    <i class="bi bi-plus-circle"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
    <div class="card-body px-3 py-1">
        <div class="table-responsive" id="table-wrapper">
            <table id="tblData" class="table table-hover table-bordered table-striped responsive nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th data-priority="2">Código</th>
                        <th data-priority="3">Nombre</th>
                        <th>Desembolso</th>
                        <th>Cobranza</th>
                        <th>Activo</th>
                        <th data-priority="1"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Exchange/BusinessExecutive/businessExecutiveIndex.js"></script>
}