@model QuotationType

<div class="card shadow border-0 mt-1 col-md-8">
    <div class="card-header bg-secondary bg-gradient ml-0 py-1">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-1">Detalle Tipo Transacción</h3>
            </div>
        </div>
    </div>
    <div class="card-body px-3 py-1">
        <div class="row pt-0">
            <div class="row">
                <input hidden asp-for="Id" />
                <input hidden asp-for="CompanyId" />
                <div class="form-floating pb-1 pt-2 col-md-6">
                    <input asp-for="Numeral" type="number" readonly="readonly" class="form-control border-0 shadow text-end" />
                    <label asp-for="Numeral" class="ms-2"></label>
                </div>
                <div class="form-floating pb-1 pt-2 col-md-6">
                    <input asp-for="Code" type="text" readonly="readonly" class="form-control border-0 shadow" />
                    <label asp-for="Code" class="ms-2"></label>
                </div>
                <div class="form-floating pb-1 pt-2 col-md-12">
                    <input asp-for="Name" type="text" readonly="readonly" class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                </div>

                <div class="form-floating pb-1 pt-2 col-md-6">
                    <input asp-for="OrderSequence" type="number" readonly="readonly" class="form-control border-0 shadow text-end" />
                    <label asp-for="OrderSequence" class="ms-2"></label>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <a asp-controller="QuotationType" asp-action="Index" class="btn btn-secondary border form-control">
                            <i class="bi bi-arrow-return-left"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
