@* @model List<CustomerSector> *@

<div class="card shadow border-0 mt-1">
    <div class="card-header bg-secondary bg-gradient ml-0 py-1">
        <div class="row align-items-center">
            <div class="col-8 text-center">
                <h3 class="text-white py-1">Sectores Clientes</h3>
            </div>
            <div class="col-4 text-end">
                <a asp-controller="CustomerSector" asp-action="Upsert" class="btn btn-info">
                    <i class="bi bi-plus-circle"></i> Nuevo
                </a>
            </div>
        </div>
    </div>

    <div class="card-body px-1 py-1">
            <table id="tblData" class="table table-hover table-bordered display responsive nowrap compact w-100" style="width: 100%">
                <thead class="table-dark bg-dark text-center">
                    <tr>
                        <th class="text-center align-middle my-0 py-0">Código</th>
                        <th class="text-center align-middle my-0 py-0">Descripcion</th>
                        <th class="text-center align-middle my-0 py-0">Estado</th>
                        <th class="text-center align-middle my-0 py-0">Nivel</th>
                        <th class="text-center align-middle my-0 py-0">Creado</th>
                        <th class="text-center align-middle my-0 py-0" data-priority="1"></th>
                    </tr>
                </thead>
                </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/Customer/CustomerSector/index.js"></script>
}