body {
    background-image: url("/Images/background/BackgroundLogoMesaDeCambio.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: white;
}

p {
    font-size: 1.3rem;
}

.txt-sw {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}
