@model CurrencyExchangeRate

<div class="card shadow border-0 mt-1 col-12 col-lg-8">
    <div class="card-header bg-secondary bg-gradient ms-0 py-1">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-1">Eliminar Tipo de Cambio</h3>
            </div>
        </div>
    </div>
    <div class="card-body px-3 py-1">
        <div class="row pt-0">
            <form method="post" class="row">
                <partial name="_Detail" />
                <div class="row">
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-danger form-control">
                                <i class="bi bi-trash3-fill"></i> Eliminar
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="CurrencyExchangeRate" asp-action="Index"
                                asp-route-currencyType="@((short)Model.CurrencyType)" class="btn btn-secondary border form-control">
                                <i class="bi bi-arrow-return-left"></i> Regresar
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
