@model QuotationDetailVM

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Depósito</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-xl-4">
                    Banco
                </div>
                <div class="col-xl-8">
                    <select asp-items="@Model.BankList"
                            class="form-select border p-1" id="selectBank">
                        <option disabled selected>--Select Banco--</option>
                    </select>
                    <span class="text-danger"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-xl-4">
                    Monto
                </div>
                <div class="col-xl-8">
                    <input id="amountDeposit" class="form-control border p-1" />
                </div>

            </div>
        </div>

        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">
                <i class="bi bi-printer-fill"></i> Salvar
            </button>
        </div>
    </div>
</div>