@model QuotationCreateVM
<div class="col-8 border border-primary border-opacity-25 w-auto ms-1 ms-md-1 ps-xl-2">
    @foreach (var currency in Model.CurrencyTransaList)
    {
        <div class="form-check mt-2 mx-1 form-check-inline">
            <input asp-for="DataModel.CurrencyDepositType" name="CurrencyOriginExchangeType" 
                class="form-check-input border border-dark-subtle" type="radio" id="@("inlineRadio" + currency.Id)" value="@currency.Numeral" />
            <label class="form-check-label fs-labelform" for="@("inlineRadio" + currency.Id)">@currency.Abbreviation</label>
        </div>
    }
</div>
