@model List<Quotation>

<input hidden type="" />
<div class="card shadow border-0 mt-1">
    <div class="card-header bg-secondary bg-gradient ml-0 py-1">
        <div class="row align-items-center">
            <div class="col-8 text-center">
                <h3 class="text-white py-1">Transacciones</h3>
            </div>
            <div class="col-4 text-end">
                <a asp-controller="Quotation" asp-action="Upsert" class="btn btn-info">
                    <i class="bi bi-plus-circle"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
    <div class="card-body px-3 py-1">
        <div class="table-responsive" id="table-wrapper">
            <table id="tblData" class="table table-hover table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th># Transa</th>
                        <th>Cliente</th>
                        <th>Mon<br />Ori</th>
                        <th>Mon<br />Des</th>
                        <th>T/C<br />Com</th>
                        <th>T/C<br />Vta</th>
                        <th>Monto</th>
                        <th>Ingreso</th>
                        <th>Costo</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let decimalTransa = @Html.Raw(@ViewBag.DecimalTransa);
        let decimalExchange = @Html.Raw(@ViewBag.DecimalExchange);
    </script>
    <script src="~/js/Exchange/Quotation/quotationIndex.js"></script>
}