@model Customer
<form method="post" class="row">
    <div class="card shadow border-0 mt-1 col-lg-8">
        <div class="card-header bg-secondary bg-gradient ml-0 py-1">
            <div class="row mb-1">
                <div class="col-12 col-md-5 pb-1">
                    <h2 class="text-white text-center text-md-start py-1">Eliminar - Cliente</h2>
                </div>
                <div class="row col mt-1 d-flex justify-content-end">
                    <div class="col-6 col-md-5 col-xl-4">
                        <button type="submit" class="btn btn-danger form-control btn-sm border"
                                data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Eliminar">
                            <i class="bi bi-trash3-fill"></i> Eliminar
                        </button>
                    </div>
                    <div class="col-6 col-md-5 col-xl-4">
                        <a asp-controller="Customer" asp-action="Index" class="btn btn-secondary border form-control btn-sm"
                           data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Regresar">
                            <i class="bi bi-arrow-return-left"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-3 py-1">
            <div class="row pt-0">
                <partial name="_Detail" />
            </div>
        </div>
    </div>
</form>