@model Customer

<div class="card shadow border-0 mt-1 col-md-8">
    <div class="card-header bg-secondary bg-gradient ml-0 py-1">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-1">Detalle Cliente</h3>
            </div>
        </div>
    </div>
    <div class="card-body px-3 py-1">
        <div class="row pt-0">
            <partial name="_Detail" />
            <div class="row">
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <a asp-controller="Customer" asp-action="Index" class="btn btn-secondary border form-control"
                           data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Regresar">
                            <i class="bi bi-arrow-return-left"></i> Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists  table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent ',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            language:'es_MX',
            readonly: true,
            height: 250,
            min_height: 250,
            max_height: 250,
            language_url: '/languages/es_MX.js',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });

        document.addEventListener("DOMContentLoaded", () => {
            // console.log("DOMContentLoaded");
            // tinymce.activeEditor.mode.set('readonly');
            //Plugins a remover
            //image, link, media, searchreplace
            //'anchor autolink charmap codesample emoticons lists  table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',

            //Toolbar a remover
            //| link image media table mergetags | removeformat | emoticons charmap
            //toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent ',

        });

    </script>
}
