@page
@model Xanes.Pages.Pages.Banks.DeleteModel

<form method="post">
    <input hidden asp-for="Bank.Id" />
    <input hidden asp-for="Bank.CompanyId" />

    <div class="border pb-3 px-3 mt-2">
        <div class="row pb-1">
            <h3 class="text-primary">Delete Bank</h3>
            <hr />
        </div>
        <div class="row mb-1 p-1">
            <label asp-for="Bank.Code" class="ps-0"></label>
            <input asp-for="Bank.Code" disabled type="text" class="form-control px-2 py-1" />
        </div>
        <div class="row mb-1 p-1">
            <label asp-for="Bank.Name" class="ps-0"></label>
            <input asp-for="Bank.Name" disabled type="text" class="form-control px-2 py-1" />
        </div>
        <div class="row mb-1 p-1">
            <label asp-for="Bank.BankingCommissionPercentage" class="ps-0"></label>
            <input asp-for="Bank.BankingCommissionPercentage" disabled type="text" class="form-control px-2 py-1" />
        </div>
        <div class="row mb-1 p-1">
            <label asp-for="Bank.IsCompany" class="ps-0"></label>
            <input asp-for="Bank.IsCompany" disabled type="text" class="form-control px-2 py-1" />
        </div>
        <div class="row mb-1 p-1">
            <label asp-for="Bank.OrderPriority" class="ps-0"></label>
            <input asp-for="Bank.OrderPriority" disabled type="text" class="form-control px-2 py-1" />
        </div>

        <div class="row mb-1 p-1">
            <label asp-for="Bank.BankAccountExcludeUId" class="ps-0"></label>
            <input asp-for="Bank.BankAccountExcludeUId" disabled type="text" class="form-control px-2 py-1" />
        </div>

        <div class="row mb-1 p-1">
            <label asp-for="Bank.LogoBank" class="ps-0"></label>
            <input asp-for="Bank.LogoBank" disabled type="text" class="form-control px-2 py-1" />
        </div>
        <div class="row p-1">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/banks/index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>


