<div class="card shadow border-0 mt-1">
    <div class="card-header bg-primary bg-gradient">
        <div class="row mb-1">
            <div class="col-12 col-md-6 pb-1">
                <h2 class="text-white text-center text-md-start py-1">Transaccion no Encontrada</h2>
            </div>
            <div class="row col mt-1 d-flex justify-content-end">
                <div class="col-6 col-md-5 col-xl-4">
                    <a href="@ViewData["UrlReturn"]" class="btn btn-secondary form-control btn-sm border"
                       data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Regresar">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <textarea rows="4" readonly>
            <h4>@ViewData["TransactionMessageNotFound"]</h4>
            </textarea>
        </div>
    </div>
</div>
